.calculator {
    width: 300px; 
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}

.border-line {
    border: 1px;
    border-radius: 5px ;
    margin: 5px;
}

.button-block {
    display: flex;
    height: 350px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

.output-block {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    background-color: #fff;
}

.btn {
    display: flex;
    width: 58px;
    height: 58px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid #ccc;
}

.btn:hover {
    color: #aaa;
}

.btn:active {
    background-color: #aaa;
    color: #fff;
}

.output {
    display: flex;
    height: 20px;
    margin: 0 5px 5px 5px ;
    border: 0;
    text-align: right;
}

#result {
    height: 40px;
    font-size: 25px;
    font-weight: bold;
}

.btn-color-equals{
    background-color: #88b2ca;
}

.btn-color-number{
    background-color: #ffffff;
}

.btn-color-operator{
    background-color: #f8f8f8;
}

.width-equals{
    width: 126px;
}

